<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656895220767-isb6gi421i27aih42jto3ll4ah4uk5uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656895220767-isb6gi421i27aih42jto3ll4ah4uk5uk</string>
	<key>API_KEY</key>
	<string>AIzaSyDILmLVHGGuwEtoYCR-iZkrChozWk2_4Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>656895220767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>ejemplo-empleados</string>
	<key>STORAGE_BUCKET</key>
	<string>ejemplo-empleados.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656895220767:ios:3e7435618fc1a212cb092a</string>
	<key>DATABASE_URL</key>
	<string>https://ejemplo-empleados-default-rtdb.firebaseio.com</string>
</dict>
</plist>